.app-title-container{
    padding:10px;
    margin:10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px white;
    margin-bottom: 20px;
    color: rgb(252, 254, 254);
    background-color:#2a2afd;
}
.app-title{
    text-align: center;
    
}
.notes-container{
    background-color: white;
    padding: 10px;
    width:400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 380px;
    overflow-y:scroll;
    box-shadow: 2px 2px 2px 1px rgb(139, 139, 246);

    
}
.note-editor-container{
    background-color: rgb(251, 252, 254);
    padding: 10px;
    margin-top: 50px;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-height: 380px;
    box-shadow: 2px 2px 2px 1px rgb(139, 139, 246);
}
.add-note-button-container{
    display: flex;
    justify-content: center;
}
.add-heading{
    color: white;
    padding: 5px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
}
.add-button{
    color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 1px 1px 1px 2px rgb(139, 139, 246);
}
.add-button:hover{
    color: white;
    background-color: blue;
}